html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: url(/img/pattern.jpg); */
  /* background-position: bottom; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */

  min-height: 100%;
  background-color: rgb(240, 240, 240);
}

#App{
  margin:0;
  padding:0
}

form button, form h5{
  margin: 20px 5px;
}

.signIn-desc, form{
  padding: 20px;
  margin-top: 20px;
  border: 5px solid rgb(236, 236, 236);
}

#nav-title{
  padding-left: 0.5rem
}

#dashboard{
  background: linear-gradient(#3f87a6, #ececec);
}

#createProject{
  background: linear-gradient(#8df7bd, rgb(240,240,240));
  padding: 1rem;
  min-height: 80vh;
}

#signIn, #signUp{
  padding: 1rem;
  min-height: 80vh;
  background: url(/img/pattern.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.signIn-body{
  background: #c3c9c888;
}

.signIn-body-text{
  font-size: 1.2rem;
}

#footer a:hover{
  color: rgb(0, 195, 255)
}

.modal-text{
  height: 10rem;
}

#footer .right-content{
  padding-right: 0.5rem;
}

.project-title{
  text-decoration: underline;
}

#project-details{
  background: linear-gradient(rgb(73, 146, 76), #66c2ae);
  padding-bottom: 10px;
}

.project-detail-tasks{
  margin: 0 5px;
}

#project-task{
  min-height: 50vh;
  /* border: 1px solid red; */
}

.project-task{
  padding: 0;
  margin: 0;
  width: 95%;
  
}

.project-detail-task-section{
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.task-content{
  padding: 5px 5px;
  border-radius: 10px;
}

.task-item{
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #ccc;
}